

<ul id="settingmenu" >
<li class="wiz_left wiz_on_left wiz_end_on_left"></li>
    <li class="settingmenu_first"><%= link_to 'Company',profile_users_path, :class=>"on"%></li>
<li class="settingmenu_arrow settingmenu_on_right"></li>

  <li class="settingmenu_first"><%= link_to 'Taxes',taxes_users_path %></li>
  <li class="settingmenu_arrow"></li>
  
  <li><a href="colorlogo.html"  ><%= link_to 'Colors & Logo',color_logo_users_path %> </a></li>
  <li class="settingmenu_arrow"></li>
 
  
  <li class="settingmenu_first"><%= link_to 'Templates',templates_users_path %></li>
  <li class="settingmenu_arrow"></li>
   <li class="settingmenu_first"><%= link_to 'Permissions',permissions_users_path %></li>
  <li class="settingmenu_arrow"></li>
  <li class="settingmenu_first"><a href="javascript://" >Online Payment</a></li>
  <li class="settingmenu_arrow"></li>
  <li class="settingmenu_first"><a href="javascript://" >Email</a></li>
  <li class="settingmenu_arrow"></li>
  <li class="settingmenu_first"><li><%= link_to 'Misc',misc_users_path %> </li>
  <li class="wiz_right"></li>
 
</ul>