<script>
$(document).ready(function () {
$('.signup_button').click(function() {
  $('.signup_fields').slideToggle("slow");
  
});
});
</script>


<div class="container container_pricing">
<h2 class="img">Pricing and Signup</h2>
<br>

<!--<div class="pricingBox">
	<div class="pricingBoxL">
		Free account or a <span style="color: rgb(0, 0, 0);">30 day money back guarantee</span> on all of our pricing packages - no questions asked. Either way you've got nothing to lose.
	</div>
	<div class="pricingBoxR">
		  <div class="pricingQ">Do I have to sign a contract?</div>
		  No. Every plan is month to month.<br>
		  <div class="pricingQ">Can I cancel at anytime?</div>
		  Yes. You can cancel anytime from within your iEasy account.
	</div>
	<div class="clearb"></div>
</div>-->
<br>
<table class="pricingTable" cellpadding="0" cellspacing="0" width="100%">
	<tbody><tr valign="top">
		<th class="pricingSelect ">
			What kind of biller are you?		</th>
					
			
							<th style="cursor: pointer;" class="package_58 column_5" rel="58" width="90">
				<div>Free Trail</div>
				<strong>FREE</strong> 					</th>
		<th style="cursor: pointer;" class="package_57 column_4" rel="57" width="130">
				<div>Personal</div>
		  <strong>$9.90</strong> <span class="permonth">/ month</span>		</th>
					<th style="cursor: pointer;" class="package_56 column_6" rel="56" width="130">
				<div>Family</div>
				<strong>$14.90</strong> <span class="permonth">/ month</span>		</th>
					<th style="cursor: pointer;" class="package_55 column_2" rel="55" width="130">
				<div>Professional</div>
					<strong>$19.90</strong> <span class="permonth">/ month</span>		</th>
		            <th class="package_59 column_9" rel="59" width="130">
				<div>Corporate</div>
					<strong>$29.90</strong> <span class="permonth">/ month</span>	</th>
        <th class="package_59 column_1" rel="59" width="130">
				<div>Enterprise</div>
					<strong>$39.90</strong> <span class="permonth">/ month</span>		</th>
			</tr>
	<tr>
		<td class="pricingLeft"># of clients you can manage</td>
					<td class="package_58" rel="58"><strong><a href="#" class="a_package58">3</a></strong></td>
					<td style="cursor: pointer;" class="package_57" rel="57"><strong><a href="#" class="a_package57">25</a></strong></td>
					<td style="cursor: pointer;" class="package_56" rel="56"><strong><a href="#" class="a_package56">Unlimited</a></strong></td>
					<td style="cursor: pointer;" class="package_55" rel="55"><strong><a href="#" class="a_package55">Unlimited</a></strong></td>
					<td class="package_59" rel="59"><strong><a href="#" class="a_package59">Unlimited</a></strong></td>
                    <td class="package_59" rel="59"><strong><a href="#" class="a_package59">Unlimited</a></strong></td>
	  </tr>
	<tr>
		<td class="pricingLeft">Additional staff who can access your account</td>
					<td class="package_58" rel="58">
				<a href="#" class="a_package58">
											<span>
															n/a				</span>					  </a>			</td>
					<td style="cursor: pointer;" class="package_57" rel="57">
				<a href="#" class="a_package57">
											<span>
															n/a				</span>					  </a>			</td>
					<td style="cursor: pointer;" class="package_56" rel="56">
				<a href="#" class="a_package56">
											<span>
															n/a				</span>					  </a>			</td>
					<td class="package_55" rel="55">
				<a href="#" class="a_package55">
											<span class="bold">
															1				</span>
						<br><span class="gray50">($10 each additional)</span>									</a>			</td>
					<td style="cursor: pointer;" class="package_59" rel="59">
				<a href="#" class="a_package59">
											<span class="bold">
															1				</span>
						<br><span class="gray50">($10 each additional)</span>									</a>			</td>
            		<td style="cursor: pointer;" class="package_59" rel="59">
				<a href="#" class="a_package59">
											<span class="bold">
															1				</span>
						<br><span class="gray50">($10 each additional)</span>									</a>			</td>
	  </tr>
	<tr>
		<td class="pricingLeft"># of invoices you can send</td>
					<td class="package_58" rel="58"><a href="#" class="a_package58">Unlimited</a></td>
					<td class="package_57" rel="57"><a href="#" class="a_package57">Unlimited</a></td>
					<td class="package_56" rel="56"><a href="#" class="a_package56">Unlimited</a></td>
					<td class="package_55" rel="55"><a href="#" class="a_package55">Unlimited</a></td>
					<td style="cursor: pointer;" class="package_59" rel="59"><a href="#" class="a_package59">Unlimited</a></td>
                    <td style="cursor: pointer;" class="package_59" rel="59"><a href="#" class="a_package59">Unlimited</a></td>
	  </tr>
	<tr>
		<td class="pricingLeft"># of contractors that can track time and invoice you *</td>
					<td class="package_58" rel="58"><a href="#" class="a_package58">Unlimited</a></td>
					<td class="package_57" rel="57"><a href="#" class="a_package57">Unlimited</a></td>
					<td class="package_56" rel="56"><a href="#" class="a_package56">Unlimited</a></td>
					<td class="package_55" rel="55"><a href="#" class="a_package55">Unlimited</a></td>
					<td class="package_59" rel="59"><a href="#" class="a_package59">Unlimited</a></td>
                    <td class="package_59" rel="59"><a href="#" class="a_package59">Unlimited</a></td>
	  </tr>
			<tr>
			<td class="pricingLeft">Invoice in multiple currencies and languages</td>
							<td class="package_58"><a href="#" class="a_package58"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_57"><a href="#" class="a_package57"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_56"><a href="#" class="a_package56"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_55"><a href="#" class="a_package55"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_59"><a href="#" class="a_package59"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
                            <td class="package_59"><a href="#" class="a_package59"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
	  </tr>
		<tr>
			<td class="pricingLeft"><a href="#" target="_blank">Send snail mail</a> invoices by US Post **</td>
							<td class="package_58"><a href="#" class="a_package58"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_57"><a href="#" class="a_package57"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_56"><a href="#" class="a_package56"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_55"><a href="#" class="a_package55"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_59"><a href="#" class="a_package59"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
                            <td class="package_59"><a href="#" class="a_package59"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
	  </tr>
		<tr>
			<td class="pricingLeft">Customer Support Mon-Fri / 9am-6pm ET</td>
							<td class="package_58"><a href="#" class="a_package58"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_57"><a href="#" class="a_package57"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_56"><a href="#" class="a_package56"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_55"><a href="#" class="a_package55"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_59"><a href="#" class="a_package59"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
                            <td class="package_59"><a href="#" class="a_package59"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
	  </tr>
		<tr>
			<td class="pricingLeft">Timesheets, Document Sharing, Support Ticketing</td>
							<td class="package_58"><a href="#" class="a_package58"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_57"><a href="#" class="a_package57"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_56"><a href="#" class="a_package56"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_55"><a href="#" class="a_package55"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_59"><a href="#" class="a_package59"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
                            	<td class="package_59"><a href="#" class="a_package59"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
	  </tr>
		<tr>
			<td class="pricingLeft">Firewall protection, SSL Encryption, data backups</td>
							<td class="package_58"><a href="#" class="a_package58"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_57"><a href="#" class="a_package57"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_56"><a href="#" class="a_package56"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_55"><a href="#" class="a_package55"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_59"><a href="#" class="a_package59"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
                            	<td class="package_59"><a href="#" class="a_package59"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
	  </tr>
		<tr>
			<td class="pricingLeft">Your logo on your invoices</td>
							<td class="package_58"><a href="#" class="a_package58"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_57"><a href="#" class="a_package57"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_56"><a href="#" class="a_package56"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_55"><a href="#" class="a_package55"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_59"><a href="#" class="a_package59"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
                            	<td class="package_59"><a href="#" class="a_package59"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
	  </tr>
		<tr>
			<td class="pricingLeft">Data import/export</td>
							<td class="package_58"><a href="#" class="a_package58"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_57"><a href="#" class="a_package57"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_56"><a href="#" class="a_package56"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_55"><a href="#" class="a_package55"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_59"><a href="#" class="a_package59"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
                            <td class="package_59"><a href="#" class="a_package59"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
	  </tr>
		<tr>
			<td class="pricingLeft">Automatic Scheduled Invoice Creation</td>
							<td class="package_58"><a href="#" class="a_package58"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_57"><a href="#" class="a_package57"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_56"><a href="#" class="a_package56"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_55"><a href="#" class="a_package55"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
							<td class="package_59"><a href="#" class="a_package59"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
                            <td class="package_59"><a href="#" class="a_package59"><img src="images/checkmark-green.png" border="0" width="16" height="16"></a></td>
	  </tr>
		<tr>
		<td class="pricingLeft">Unbranded emails</td>
					<td class="package_58" rel="58"><a href="#" class="a_package58">
									&nbsp;
								</a>			</td>
					<td class="package_57" rel="57"><a href="#" class="a_package57">
					<img src="images/checkmark-green.png" border="0" width="16" height="16">
								</a>			</td>
					<td class="package_56" rel="56"><a href="#" class="a_package56">
					<img src="images/checkmark-green.png" border="0" width="16" height="16">
								</a>			</td>
					<td class="package_55" rel="55"><a href="#" class="a_package55">
					<img src="images/checkmark-green.png" border="0" width="16" height="16">
								</a>			</td>
					<td class="package_59" rel="59"><a href="#" class="a_package59">
					<img src="images/checkmark-green.png" border="0" width="16" height="16">
								</a>			</td>
            <td class="package_59" rel="59"><a href="#" class="a_package59">
					<img src="images/checkmark-green.png" border="0" width="16" height="16">
								</a>			</td>
	  </tr>
	<tr>
		<td class="pricingLeft">Project Managers, Team Timesheets, Team Expense Reporting</td>
					<td class="package_58" rel="58">
				<a href="#" class="a_package58">
&nbsp;					  </a>			</td>
					<td class="package_57" rel="57">
				<a href="#" class="a_package57">
&nbsp;					  </a>			</td>
					<td class="package_56" rel="56">
				<a href="#" class="a_package56">
&nbsp;					  </a>			</td>
					<td class="package_55" rel="55">
				<a href="#" class="a_package55">
				<img src="images/checkmark-green.png" border="0" width="16" height="16">					  </a>			</td>
					<td class="package_59" rel="59">
				<a href="#" class="a_package59">
				<img src="images/checkmark-green.png" border="0" width="16" height="16">					  </a>			</td>
            <td class="package_59" rel="59">
				<a href="#" class="a_package59">
				<img src="images/checkmark-green.png" border="0" width="16" height="16">					  </a>			</td>
	  </tr>
	<tr>
		<td class="pricingLeft">Includes 500 <a href="#autobills" class="zoom">auto-bills</a> <span class="gray50">($20 per additional&nbsp;250)</span></td>
					<td class="package_58" rel="58">&nbsp;		</td>
					<td class="package_57" rel="57">&nbsp;		</td>
					<td class="package_56" rel="56">&nbsp;		</td>
					<td class="package_55" rel="55">&nbsp;		</td>
					<td class="package_59" rel="59">
					  <img src="images/checkmark-green.png" border="0" width="16" height="16">		</td>
        <td class="package_59" rel="59">
					  <img src="images/checkmark-green.png" border="0" width="16" height="16">		</td>
	  </tr>
	<tr class="pricingLastRow">
		<td class="pricingLeft">&nbsp;</td>
					<td class="package_58" rel="58"><table align="center"><tbody><tr><td class="pricing_buttons"><div class="button_green"><a href="javascript://" class="a_package58 signup_button">Signup</a></div></td></tr></tbody></table></td>
					<td class="package_57" rel="57"><table align="center"><tbody><tr><td class="pricing_buttons"><div class="button_green"><a href="javascript://" class="a_package57 signup_button">Signup</a></div></td></tr></tbody></table></td>
					<td class="package_56" rel="56"><table align="center"><tbody><tr><td class="pricing_buttons"><div class="button_green"><a href="javascript://" class="a_package56">Signup</a></div></td></tr></tbody></table></td>
					<td class="package_55" rel="55"><table align="center"><tbody><tr><td class="pricing_buttons"><div class="button_green"><a href="javascript://" class="a_package55">Signup</a></div></td></tr></tbody></table></td>
					<td class="package_59" rel="59"><table align="center"><tbody><tr><td class="pricing_buttons"><div class="button_green"><a href="javascript://" class="a_package59">Signup</a></div></td></tr></tbody></table></td>
                    	<td class="package_59" rel="59"><table align="center"><tbody><tr><td class="pricing_buttons"><div class="button_green"><a href="javascript://" class="a_package59">Signup</a></div></td></tr></tbody></table></td>
	  </tr>
      
      <tr class="pricingLastRow">
		<td colspan="7" class="pricingLeft"> 
        <div class="pricing_select signup_fields"  style="display:none;">
          <div class="pricing_select_l">
					You've selected:
					<div id="chosen_package_name">FREE</div>
					<div id="chosen_package_price">Free Account</div>
					<div id="chosen_package_limits">
						<span id="chosen_package_clients"></span>&nbsp;clients<br>
						<span id="chosen_package_staff"></span>&nbsp;staff<br>
						<span id="chosen_package_autobills"></span>
					</div>
				</div>

				<div class="pricing_select_r">
				<% form_for @user ,:html=>{:id=>"subscribe_form"} do |f| %>
					 <label for="Name">Company Name</label>
					 <%= f.text_field :company_name %>
					<span class="email_errors subscribe_errors">
					<%= f.error_message_on :company_name, :css_class => "input_error_text_mssg" %> 
					</span><br>
							
							<label for="email">Email</label>
							<%= f.text_field :package_email %>
							<span class="email_errors subscribe_errors">
							
							</span><br>
							
							<label for="username">Username</label>
							<%= f.text_field :login %>
							<span class="username_errors subscribe_errors"></span><br>

							<label for="password">Password</label>
							<%= f.password_field :password %>
							<span class="password_errors subscribe_errors"></span><br>

							<label for="password2">Confirm Password</label>
							<%= f.password_field :password_confirmation %>
							<span class="password2_errors subscribe_errors"></span><br>
						
                       <div id="user_login_url_valid"> 
						<label for="email">Login Page </label>
					    <%= f.text_field :login_page_url,{:onkeyup=>"check_domain();",:onfocus=>"check_domain();",:onblur=>"check_domain();"} %>
						<div class="domaintext" style="font-weight:bold;">.ieasy.com</div></div>	
							
						
							<br>
							<%= f.hidden_field :package_id,:value=>1 %>
							<div id="submit_but">
							  <input name="submit" src="images/create.png" style="margin: 0pt; width: 344px; height: 49px;" type="image" onclick="return check_domain();"><br>
								All fields are required
							</div>
				  <% end %>
				</div>
				<div class="clearb"><img src="spacer.gif" alt="" height="1"></div>
			</div>
                </td>
	  </tr>
	  <tr style="display: blck;" id="subscribe"><td colspan="6" style="border-bottom: 0pt none; padding: 0pt;">
			
	  </td></tr>
	</tbody></table>

<div id="autobills" class="zoomed" style="display: none; width: 700px;">
	
	<h2>What is Auto-Billing?</h2>
	<p>In
iEasy, Auto-Billing is a feature you can add to a recurring
profile so that your client&#8217;s credit card is automatically charged
whenever an invoice gets sent out from the recurring profile. </p>

	<h3>How can I start using Auto-Billing?</h3>
	<p>The
first thing you will need is an account with one of our auto-bill
capable payment gateways. The gateways listed here can be used to
auto-charge your client&#8217;s credit card on a recurring basis:</p>
	<img src="/auto-bill-gateways.gif" alt="" style="border: 1px solid rgb(204, 204, 204); float: right; margin-left: 40px;" width="360" height="90">
	<ul>
		<li>PayPal Payflow Pro</li>
		<li>Authorize.Net</li>
		<li>LANDMARK Merchant Solutions</li>
		<li>Linkpoint</li>
		<li>PSiGate</li>
		<li>iTransact</li>
	</ul>
	<p>Once
set up with an auto-bill capable gateway, there are only two scenarios
possible - either you have your client&#8217;s credit card information and
their permission to automatically charge their card or you don&#8217;t.</p>

	<strong>You Have Your Client&#8217;s Credit Card Info:</strong><br>
	<ol>
		<li>Navigate to the Invoices tab of your iEasy account.</li>
		<li>Click on the sub-tab Recurring.</li>
		<li>You can either create a new recurring profile or edit an existing one.</li>
		<li>In
the Auto-Billing section of the recurring profile, choose your
auto-bill capable gateway, enter your client&#8217;s credit card info and
save the profile.</li>
	</ol>
	
	<strong>You Do Not Have Your Client&#8217;s Credit Card Info:</strong><br>
	<p>When
an invoice from your recurring profile gets sent to your client and
they have chosen to pay through your auto-bill capable gateway, they
will be presented with a drop-down menu with the option to have their
credit card automatically charged for future invoices sent from that
recurring profile. If they choose this option, your recurring profile
will be updated with their credit card information and they will be
auto-billed from that point onward.</p>

	<h3>Auto-bill Limits</h3>
	<img src="/auto-bills.gif" alt="" style="border: 1px solid rgb(204, 204, 204); float: right; margin-left: 40px;" width="360" height="200">
	<p>In
every account, there is an auto-bill limit. This limit is the number of
recurring profiles that you can have auto-billing with. Every new
account comes equipped with five free auto-bills. If you require more
than these, you will need to upgrade to a paying package and add extra
auto-bills. Here is the pricing structure:</p>

</div>

<div class="fs_11 gray50"></div>

<div id="scroll_bottom" class="clearb"></div>

<br>
<br>
<br>
</div>

<script>
	var company_name = new LiveValidation('user_company_name');
	var login = new LiveValidation('user_login');
	var password = new LiveValidation('user_password');
	var passwordconfirm = new LiveValidation('user_password_confirmation');
    var email =new LiveValidation('user_package_email'); 
	var subdomain =new LiveValidation('user_login_page_url'); 
	company_name.add(Validate.Presence);
	login.add(Validate.Presence );
	password.add(Validate.Presence);
    passwordconfirm.add( Validate.Confirmation, { match: 'user_password' } );	
	email.add(Validate.Presence);
    email.add( Validate.Email ); 
    subdomain.add(Validate.Presence);	

		
	
	
	function check_domain()
	{
		 $.post("/users/checkdomain",{ domain:$('#user_login_page_url').val() },function(data) {
		  if(data==true || data=="true"){
				    $("#user_login_url_valid span").removeClass("LV_valid");
					$("#user_login_url_valid span").removeClass("LV_validation_message");
					$("#user_login_url_valid span").addClass("LV_invalid");
					$("#user_login_url_valid span").addClass("LV_validation_message");
					$(".domaintext").html("")	
					$("#user_login_url_valid span").html("Domain already exists")
					return false;
					}
		  else{
		       $("#user_login_url_valid span").html("")	
               $(".domaintext").html(".ieasy.com")}
		 }
		 );
	}
</script>


