

<div  id="login_wrapper">
  <div  id="login_wrapper_main">
    <div class="innercontainer">
      <%= render :partial=>'settingsheader' %>
      <div class="clear"></div>
      
	 <% form_for @user_premission,:url=>permissions_users_path,:html=>{:method=>:post} do |f| %>
	  
	<div class="setting">
        <div class="inter">
          <h1> 
Features & Permissions</h1>
          <h2>Add or remove features, and limit what your staff and clients have access to.
   </h2>
          <div class="separator"></div>
          <div class="clear"></div>
          <div class="permissions">
          <div class="permit">Administrator Permissions </div>
          <div class="features">
          <ul class="permissions">
      <li class="client_premissions <% if @user_premission.clients==1%>enabled<%end%>">
     <div><%=f.check_box :clients,{:class=>'permission_check'} %>
     <label for="admin_team">Clients</label></div>
     </li>
     <li class="invocies_premissions <% if @user_premission.invocies==1%>enabled<%end%>">
     <div><%=f.check_box :invocies ,{:class=>'permission_check'}%> 
     <label for="admin_team">Invoice</label></div>
     </li>
    <li class="bank_premissions <% if @user_premission.bank==1%>enabled<%end%>">
    <div><%=f.check_box :bank,{:class=>'permission_check'} %>
     <label for="admin_team">Bank</label></div>
     </li>
    <li class="credit_card_premissions <% if @user_premission.credit_card==1%>enabled<%end%>"><div>
	<%=f.check_box :credit_card,{:class=>'permission_check'} %>
     <label for="admin_team">Credit Card</label></div>
     </li>
    <li class="cash_expenses_premissions <% if @user_premission.cash_expenses==1%>enabled<%end%>"><div>
	<%=f.check_box :cash_expenses,{:class=>'permission_check'} %>
     <label for="admin_team">Cash Expenses</label></div>
     </li> 
	<li class="wages_premissions <% if @user_premission.wages==1%>enabled<%end%>"><div>
	<%=f.check_box :wages,{:class=>'permission_check'} %>
     <label for="admin_team">Wages</label></div>
     </li>
     <li class="documents_premissions <% if @user_premission.documents==1%>enabled<%end%>"><div>
	 <%=f.check_box :documents ,{:class=>'permission_check'}%>
      <label for="admin_document">Documents</label></div>
      </li>
	<li class="reports_premissions <% if @user_premission.reports==1%>enabled<%end%>"><div>
	<%=f.check_box :reports,{:class=>'permission_check'} %>
     <label for="admin_estimate">Reports</label></div>
     </li>
	
</ul>
 
          </div>
          </div>
          
          
          <div class="permissions">
          <div class="permit">Client Permissions  </div>
          <div class="features">
          <ul class="permissions">
	<li ><div><input type="checkbox" checked="" > <label for="admin_timesheet">Support</label></div></li>
	<li ><div><input type="checkbox"  checked="" i> <label for="admin_support">Document</label></div></li>
	</ul>
    
    <div class="clear"></div>
  <div class="specialper">
   <div class="left"> <input name="" type="checkbox" value="" /></div>
    <div class="right">Dispute Invoices</div>
  </div>
  <div class="clear"></div>
  <strong>Clients are allowed to dispute invoices.</strong>
  <div class="clear"></div>
  <div class="specialper">
   <div class="left"> <input name="" type="checkbox" value="" /></div>
    <div class="right">Document Administration</div>
  </div>
  <div class="clear"></div>
  <strong>Clients are permitted to create new folders.</strong>
 
          </div>
          </div>
          <div class="clear"></div>
          <div style=" margin-left:390px; margin-top:20px;">
          <%= submit_tag "Save" ,:class=>'upgrade' %>
          </div>
        </div>
      </div>
	  
	  <% end %>
    </div>
    <div class="clear"></div>
  </div>