<div  id="login_wrapper">
  <div  id="login_wrapper_main">
    <div class="innercontainer">
      <%= render :partial=>'settingsheader' %>
      <div class="clear"></div>
      
	  <div class="setting">
	  <% form_for @user,:url=>profile_users_path ,:html=>{:id=>"subscribe_form",:method=>:post} do |f| %>
	  
        <div class="inter">
          <h1>Company Profile</h1>
          <h2>This information is used for invoicing, emails, and more. Make sure it's correct!</h2>
          <div class="separator"></div>
          <div class="company">
            <div class="span"> Company Name</div>
            <div class="input">
               <%= f.text_field :company_name %>
            </div>
          </div>
		   <% fields_for :user_profile do |profile| %>
          <div class="company">
            <div class="span"> Profession</div>
            <div class="input">
           <%= profile.text_field :profession_id,:value=>1%>
              <strong>What kind of work do you do?</strong> </div>
            <div class="lable"> <a href="#">What is this used for?</a></div>
          </div>
          <div class="clear"></div>
        <!--  <div class="company">
            <div class="span"> Base Currency</div>
            <div class="option">
            </div>
          </div>-->
          <div class="company">
            <div class="span"> Country</div>
            <div class="option">
              <%= profile.country_select :country,nil,{:include_blank => true}%>
            </div>
          </div>
          <div class="company">
            <div class="span"> Address</div>
            <div class="inputadd">
			 <%= profile.text_field :address,:class=>"input1"%>
              <strong>Street 1</strong> </div>
          </div>
          <div class="company">
            <div class="span"> </div>
            <div class="inputadd">
			<%= profile.text_field :address1,:class=>"input1"%>
              <strong>Street 2</strong> </div>
          </div>
          <div class="company">
            <div class="span"> </div>
            <div class="inputadd">
			 <%= profile.text_field :city,:class=>"input2"%>
			 <%= profile.text_field :province_state,:class=>"input3"%>
			   <%= profile.text_field :zip_code,:class=>"input3"%>

            </div>
          </div>
          <div class="company">
            <div class="span"> Business Phone</div>
            <div class="input">
              <%= profile.text_field :business_phone%>
               </div>
          </div>
          <div class="company">
            <div class="span"> Mobile</div>
            <div class="input">
             <%= profile.text_field :mobile%>
              </div>
          </div>
          <div class="company">
            <div class="span"> Fax</div>
            <div class="input">
              <%= profile.text_field :fax%>
             </div>
          </div>
          <div class="company">
            <div class="span">Time Zone</div>
            <div class="option">
           <%= profile.time_zone_select :time_zone,nil,{:include_blank => true}%>
            </div>
          </div>
		  <% end %>
          <div class="company">
            <div class="span"> Account URL</div>
            <div class="inputadd">
             <span style="float:left;margin-top:5px;">http://</span>
					 <span style="float:left;">
					 <%= f.text_field :login_page_url %></span>
					 <span style="float:left;margin-top:5px;">.ieasy.com<span>
               </div>
          </div>
          
          
          <div class="clear"></div>
          <div style=" margin-left:350px; margin-top:20px;">
		   <%= submit_tag 'Submit',:class=>"upgrade" %>
		  </div>
       
	  <% end %>
	  </div>
	  
	  
      </div>
    </div>
    <div class="clear"></div>
  </div>