<div class="contact">
   <br />
					 <label>Email</label>
					 <%= f.text_field :email%>
					 <br />
					  <br />
					 <label>Home Phone</label>
					 <%= f.text_field :home_phone%>
					 <br />
					  <br />
					 <label>First Name</label>
					 <%= f.text_field :first_name%>
					 <br />
					  <br />
					 <label>Last Name</label>
					 <%= f.text_field :last_name%>
					 <br />
					  <br />
					 <label>Mobile</label>
					 <%= f.text_field :mobile%>
					 <br />
					  <br />
					  <b><label>Login Credentials</label></b>
					  <input class="assignusername"  type="checkbox">	
	<label >Assign Username and Password</label>
		 <br /><br />
					 <div class ="login_fields" style="display:none;">
					 <label>Username</label>
					 <%= f.text_field :user_name%>
					 <br />			
                     <br />					 
					 <label>Password</label>
					 <%= f.password_field :password%>
					 <br />
					  <br />
					  <label>Confirm Password</label>
					 <%#= f.password_field :password_confirmation%>
					 <br />
					  <br />
                        </div>

