<div class="container" >
<% if !@bank_statements.blank? %>
<h1>List of Unallocated Bank Statements </h1>
        <div class="clear"></div>
    <div class="bank">
    <table class="banktab" cellpadding="0" cellspacing="0" width="100%">
	<tbody><tr>
		<td width="8%"  class="activetab">Date</td>
			  <td width="20%"  rel="58" class="titletab"> Description</td>
					<td width="7%" class="titletab">Debit</td>
					<td width="7%" class="titletab">Credit</td>
			  <!-- <td width="9%" class="titletab"> Amount Allocated</td>
			  <td width="7%" class="titletab" >Tax</td> -->
			  <td width="12%"  rel="59" class="titletab">Action</td>
              <!--<td width="10%"  rel="59" class="titletab">Category</td>
              <td width="11%"  rel="59" class="titletab">Sub-category</td>
			  <td width="10%"  rel="59" class="titletab">Assign to</td>
              <td width="16%"  rel="59" class="titletab">Document</td> -->
	  </tr>

	  <% for statement in @bank_statements %>
	   <tr>
		<td width="15%"  class="tabcolor"><%= statement.transaction_date%></td>
		<td width="25%"  rel="58" class="tabcolor"><%= (statement.description.nil?)? (statement.description):"--"%></td>
		<td width="10%" class="tabcolor"><%= (statement.debit != nil)? number_to_currency(statement.debit.to_f):"--" %></td>
		<td width="10%" class="tabcolor"><%= (statement.credit != nil)? number_to_currency(statement.credit.to_f):"--" %></td>
		<!-- <td width="9%" class="tabcolor" >--</td>
		<td width="7%" class="tabcolor" >--</td> -->
		<td width="25%"  rel="59" class="tabcolor"><%= link_to "Allocate", :action=>"edit_statement", :id=>statement.id %>
		or<%= link_to "View", :action=>"show", :id=>statement.id %></td>
		<!-- <td width="10%"  rel="59" class="tabcolor">-- </td>
        <td width="11%"  rel="59" class="tabcolor">--</td>
		<td width="10%"  rel="59" class="tabcolor">--</td>
        <td width="16%"  rel="59" class="tabcolor"><a href="#"><img src="/images/upload.png" alt="" border="0" /></a></td> -->
	  </tr>
	  <% end %>
      
      
	  <tr style="display: blck;" id="subscribe"><td colspan="6" style="border-bottom: 0pt none; padding: 0pt;">
			
	  </td></tr>
	</tbody></table>
	 <div align="center"><%= will_paginate @bank_statements %></div>
    </div>
<% else %>
<h1>sorry no Bank Statements found</h1>
        <div class="clear"></div>
<% end %>	
</div>