<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">


<title>IEasy</title>
<meta name="title" content="FreshBooks - Online Invoicing Software - Pricing and Packages">
<meta name="description" content="Are you a small business or freelancer looking for an easier way to invoice? FreshBooks has the answer. Choose the package that best meets your needs.">


<%= stylesheet_link_tag 'styles','live_validation','niftyCorners','logininfo'%>
<%= javascript_include_tag 'jquery-1.4.2.min' %>
<%= javascript_include_tag "livevalidation_standalone" %>
<%= javascript_include_tag 'niftycube','defaults' %>



</head>
<body>


<%= render :partial =>'layouts/header'%>


<%= yield %>

	
</body></html>