<html>
<head>

<title>IEasy Project</title>

<%= stylesheet_link_tag 'style', 'pricing-old', 'infotab','new'%>
<%= javascript_include_tag 'jquery-1.4.2.min' %>
<script type="text/javascript">
$.noConflict();
</script>
<%= javascript_include_tag :defaults, 'menu' %>
<!--[if IE]>
<%= stylesheet_link_tag 'all-ie'%>
<![endif]-->
<%= apply_auto_branding(current_user) if !current_user.blank? %>
</head>
<body>
 <div id="myaccount">
 <div id="myaccount_inner">
 <div class="header">
 
  <%= render :partial =>'layouts/header'%>
      <div class="clear"></div>
      <ul id="sddm">
	
    <% client_link = "active" if params[:controller] == "clients" %>
    <% bank_link = "active" if params[:controller] == "bank" %>
    <% home_link = "active" if client_link.blank? &&  bank_link.blank? %>
  <li><%= link_to "Home",'/users/index', {:onmouseover=>"mopen('m1')", :onmouseout=>"mclosetime()",:class=>home_link} %></li>
  <% if current_user.user_permission.clients ==1 %>
  <li><%= link_to "Clients", clients_path, :onmouseover => "mopen('m2')", :onmouseout => "mclosetime()",:class=>client_link%></li>
  <% end %>
  <% if current_user.user_permission.invocies ==1 %>
  <li><a href="#" onmouseover="mopen('m3')" onmouseout="mclosetime()">Invoices</a> 
    <div id="m3" onMouseOver="mcancelclosetime()" onMouseOut="mclosetime()">
      <ul>
        <li class="none"><a href="#">Invoice </a></li>
        <li><a href="#">Recurring</a> </li>
        <li><a href="#">Received </a></li>
        <li><a href="#">Items</a> </li>
        <li><a href="#">Payment History</a> </li>
      </ul>
    </div></li>
   <% end %>
 
    <% if current_user.user_permission.bank ==1 %>
    <li><%= link_to "Bank",url_options={:controller=>"bank", :action=>"index"}, html_options={:onmouseover=>"mopen('m4')", :onmouseout=>"mclosetime()",:class=>bank_link} %>
    <div id="m4" onMouseOver="mcancelclosetime()" onMouseOut="mclosetime()">
      <ul>
        <li class="none">
		<%= link_to "Upload Bank Statement",url_options={:controller=>"bank", :action=>"new"}%>
		</li>
        <li>
		<%= link_to "View List of all Uploaded Bank Statements",url_options={:controller=>"bank", :action=>"list"}%>
		</li>
        <li>
		<%= link_to "View Unallocated Items",url_options={:controller=>"bank", :action=>"list_unallocated"}%>
		</li>
      </ul>
    </div>
  </li>
  <% end %>
  
  <% if current_user.user_permission.credit_card ==1 %>
  <li><a href="#" onmouseover="mopen('m5')" onmouseout="mclosetime()">Credit Card</a></li>
  <% end %>
 
  <% if current_user.user_permission.cash_expenses ==1 %>
  <li><a href="#" onmouseover="mopen('m5')" onmouseout="mclosetime()">Cash Expenses</a></li>
  <% end %>
 
  <% if current_user.user_permission.wages ==1 %>
  <li><a href="#" onmouseover="mopen('m5')" onmouseout="mclosetime()">Wages</a></li>
  <% end %>
   
  <% if current_user.user_permission.documents ==1 %>
  <li><a href="#" onmouseover="mopen('m5')" onmouseout="mclosetime()">Documents</a> </li>
  <% end %>
  
  <% if current_user.user_permission.reports ==1 %>
  <li style="margin:0px;"><a href="#" onmouseover="mopen('m5')" onmouseout="mclosetime()">Reports</a>
  <% end %>
  
  
  </li>
</ul>
    </div>
    <div class="clear"></div>
    
 </div>
 </div>

<%= yield %>
</body>
</html>
